.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.toolbar-logo {
  max-width: 200px;
  max-height: 100px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ion-toolbar {
  --background: #fcfcfc;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-content {
  --background: #fcfcfc;
}

ion-segment-button {
  --color: #ec5b82;
  --color-checked: #ec5b82;
  --color-focused: #ec5b82;
}

.red-accent {
  --highlight-color-focused: #ec5b82;
}

.red-button {
  --color-activated: #fcfcfc;
  --color: #ec5b82;
  --background: #fcfcfc;
  --box-shadow: #fcfcfc;
  --color-hover: #ec5b82;
  --background-activated: #ec5b82;
}

ion-fab-button {
  --color: #ec5b82;
}
